body {
  background: url("../images/concrete_seamless.png");
}

.header {
  background: white;
}

.card-text{
  color: #4aaaa5;
  font-weight: bold;
  font-size: 22px;
}

#logo {
  color: white;
  background: #4aaaa5
}

#logoname {
  background: #4aaaa5;
}
#myname {
  color: white
}

#content {
  background-color: white;
}

#contactbox {
  background: white;
}