body {
  background: #DBDBDB;
}

.header {
  background: white;
}

#logo {
  color: white;
  background: #4aaaa5
}

#logoname {
  background: #4aaaa5;
}
#myname {
  color: white
}

#content {
  background-color: white;
}